* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainbody{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  height: 55vh;
  min-width: 32vw;
  width: 32vw;
  overflow: hidden;
  z-index: 4;
}
h1{
  text-align: center;
  color: #00ff00;
  padding-bottom: 25px;
  font-size: 200%;
}
h5{
  text-align: center;
}
a{
  text-align: center;
  color: #555;
  text-decoration: none;
}

.Loginblock{
  z-index: 1000;
  width: 350px;
  padding: 40px 40px 20px 40px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.links{
  display: flex;
  margin: 10px 0px 30px 0px;
  justify-content: space-between;
}
.links :hover{
  color: #00ff00;
}
.Home{
  margin-top: 20px;
  font-size: 110%;
}
.Home:hover{
  color: #00ff00;
}
.Loginbutton{ 
  border-radius: 5px;
  font-weight: bold!important;
  font-size: 110%;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 40% 10px 40%;
  color: black;
  background-color: #01eb01;
  border: none;
  box-shadow: 0 0 15px 2px rgba(0, 255, 10, 0.8);
  margin: 15px 0px 10px 0px;
}
.Inputfield:focus + label,
.Inputfield:not(:placeholder-shown) + label {
  top: 1px;
  left: 10px;
  font-size: 12px;
  color: #00ff00;
  background-color: #292929;
}
.Inputfields label{
  position: absolute;
  top: 18px;
  left: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}
.Loginblock input[type="text"],
.Loginblock input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #555;
  border: 2px solid #444;
  border-radius: 4px;
  color: #fff;
}
.Inputfields{
  position: relative;
}
.Inputfield::placeholder{
  color: transparent;
}


section::before{
  content: '';
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0; /* Start at the top of the container */
  pointer-events: none; /* Prevent interaction with the lines */
  background-image: linear-gradient( to bottom, transparent 0%, #00ff00 50%,transparent 100%);
  animation: lineAnimation 6s linear infinite; 
}

@keyframes lineAnimation {
  0% {
    top: -100%; /* Start from the top */
  }
  100% {
    top: 100vh; /* Move to the bottom */
  }
}
section{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}
section span {
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	transition: 1.5s;
  z-index: 2;
}
section span:hover{
  background:#0f0;
  transition: 0s;
}
@media (max-width: 900px)
{
	section span 
	{
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}
@media (max-width: 600px)
{
	section span 
	{
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}