.cardImage{
    max-width: 10vw;
}
.gameCard{
    display: flex;
    margin: 2vw;
    width: 70vw;
    align-self: stretch;
    background-color: grey;
    border-radius: 10px;
    transition: transform 1s ease;
}